* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "Jost", sans-serif;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header{
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1875rem 1.5rem;
    position: relative;
    background: #FFF;
    z-index: 100;
}

.header-logo{
    width: 202px;
    display: flex;
}

.desktop-header-navlinks{
    display: none;
}

.menu-icon{
    cursor: pointer;
}

.header-navlinks{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 3rem 0 0 1.5rem;
    background: #1D1C1E;
    position: absolute;
    top: 100%;
    left: 0;
    height: 235px;
    width: 100%;
    z-index: 10;
}

.page-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.header-navlinks a{
    text-decoration: none;
    color: #FFF;
    font-size: 1.5rem;
    line-height: 25px;
    letter-spacing: 2px;
}

/* HEADER */

/* FOOTER */

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1D1C1E;
    margin-top: 12rem;
}

.get-in-touch-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -11.875rem 0 4rem;
    padding: 4rem 1.5rem;
    width: 327px;
    height: 379px;
    border-radius: 15px;
    background: #E7816B;
    background-blend-mode: multiply;
    overflow: hidden;
}

.get-in-touch-img{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.get-in-touch-container p{
    margin: 0;
}

.get-in-touch-container p:nth-of-type(1){
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 1rem;
}

.get-in-touch-container p:nth-of-type(2){
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 2rem;
}

.get-in-touch-btn{
    position: relative;
    width: 152px;
    height: 56px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    color: #333136;
    font-family: "Jost", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    z-index: 10;
}

footer .header-logo{
    margin: 0 auto 2rem;
}

.divider-one,
.divider-two{
    width: 327px;
    height: 1px;
    opacity: 0.1;
    background: #FFF;
}

.divider-two{
    display: none;
}

.footer-navlinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 2rem 0 2.5rem;
}

.footer-navlinks a{
    text-decoration: none;
    color: #FFF;
    font-size: 0.875rem;
    line-height: 14px;
    letter-spacing: 2px;
}

.company-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    gap: 0.25rem
}

.company-info span{
    opacity: 0.5035;
    color: #FFF;
    font-weight: 700;
    line-height: 26px;
}

.company-info p{
    opacity: 0.5035;
    color: #FFF;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
}

.social-media-links{
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
}

.social-media-links img{
    cursor: pointer;
}

/* FOOTER */

/* HOME */

.home-intro{
    background: #E7816B;
    position: relative;
    height: 843px;
    color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.home-oval{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.home-content{
    position: relative;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    margin-top: 5rem;
}

.home-content h1{
    color: #FFF;
    font-weight: 500;
    line-height: 36px;
    margin: 0 0 0.4375rem;
}

.home-content p{
    color: #FFF;
    font-size: 0.9375rem;
    line-height: 25px;
    margin-bottom: 1.5rem;
}

.learn-more-btn{
    width: 152px;
    height: 56px;
    border-radius: 8px;
    background: #fff;
    color: #333136;
    font-size: 0.9375rem;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    border: none;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.home-hero-phone{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 7.5rem;
}

.web-design{
    background: url(assets/home/mobile/image-web-design.jpg);
}

.app-design{
    background: url(assets/home/mobile/image-app-design.jpg);
}

.graphic-design{
    background: url(assets/home/mobile/image-graphic-design.jpg);
}

.web-design::before,
.app-design::before,
.graphic-design::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    border-radius: 15px;
}

.web-design > *,
.app-design > *,
.graphic-design > *{
    position: relative;
    z-index: 1;
}

.web-design,
.app-design,
.graphic-design{
    position: relative;
}

.project:last-child{
    margin-bottom: 7.5rem;
}

.project{
    width: 327px;
    height: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.project-btn{
    cursor: pointer;
}

.project p{
    margin: 0;
}

.project p:nth-of-type(1){
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.4px;
}

.project-btn p:nth-of-type(1){
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 5px;
}

.project-btn{
    text-decoration: none;
}

.illustrations{
    position: relative;
}

.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.illustration img{
    margin-bottom: 3rem;
}

.illustrations-background{
    position: absolute;
    z-index: -1;
}

.illustration-p-container p:nth-of-type(1){
    margin: 0 0 2rem 0;
    color: #333136;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
}

.illustration-p-container p:nth-of-type(2){
    margin: 0 0 5rem 0;
    padding: 0 1.5rem;
    color: #333136;
    line-height: 26px;
}

.passionate-illustration{
    -webkit-mask-image: url('../assets/home/desktop/illustration-passionate.svg');
    mask-image: url('../assets/home/desktop/illustration-passionate.svg');
}

.resourceful-circle{
    transform: rotate(-90deg);
}

.resourceful-illustration{
    -webkit-mask-image: url('../assets/home/desktop/illustration-resourceful.svg');
    mask-image: url('../assets/home/desktop/illustration-resourceful.svg');
}

.friendly-circle{
    transform: rotate(90deg);
}

.friendly-illustration{
    -webkit-mask-image: url('../assets/home/desktop/illustration-friendly.svg');
    mask-image: url('../assets/home/desktop/illustration-friendly.svg');
}

/* HOME */

/* DESIGN PAGE */

.design-page{
    position: relative;
}

.design-page-intro{
    position: relative;
    background: #E7816B;
    padding: 6.5625rem 1.5rem;
    text-align: center;
    margin-bottom: 6rem;
}

.design-page-bg-image{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 0;
    width: 292px;
}

.design-page-intro h1{
    margin: 0 0 1.5rem 0;
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
}

.design-page-intro p{
    margin: 0;
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 25px;
}

.design-page-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.design-page-images img{
    width: 327px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.design-page-images-info{
    background: #FDF3F0;
    width: 327px;
    padding: 2rem 1.86875rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.design-page-images-info p:nth-of-type(1){
    margin: 0 0 1rem 0;
    color: #E7816B;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 5px;
}

.design-page-images-info p:nth-of-type(2){
    margin: 0;
    color: #333136;
    text-align: center;
    font-weight: 400;
    line-height: 26px;
}

.projects-design-page{
    margin-top: 5rem;
    margin-bottom: -2rem;
}

/* DESIGN PAGE */

/* ABOUT US */

.about{
    position: relative;
}

.about-img{
    position: relative;
    z-index: 1;
}

.about-us-intro{
    position: relative;
    background: #E7816B;
    padding: 5rem 1.5rem;
    text-align: center;
    margin-top: -0.345rem;
}

.about-us-bg-image{
    position: absolute;
    top: -35%;
    right: 0%;
    z-index: 0;
}

.about-us-intro h1{
    margin: 0 0 1.5rem 0;
    color: #FFF;
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
}

.about-us-intro p{
    margin: 0;
    color: #FFF;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 25px;
}

.about-us-info{
    background: #FDF3F0;
    padding: 5rem 1.5rem;
    margin: -0.345rem 0 7.5rem;
}

.about-us-info p:nth-of-type(1){
    margin: 0 0 1.5rem 0;
    color: #E7816B;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
}

.about-us-info p:nth-of-type(2),
.about-us-info p:nth-of-type(3){
    margin: 0;
    color: #333136;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 25px;
}

.about-us-info p:nth-of-type(2){
    margin-bottom: 1.5rem;
}

.canada-circle{
    transform: rotate(90deg);
}

.canada-illustration{
    -webkit-mask-image: url("assets/shared/desktop/illustration-canada.svg");
    mask-image: url("assets/shared/desktop/illustration-canada.svg");
}

.australia-illustration{
    -webkit-mask-image: url("assets/shared/desktop/illustration-australia.svg");
    mask-image: url("assets/shared/desktop/illustration-australia.svg");
}

.united-kingdom-circle{
    transform: rotate(-90deg);
}

.united-kingdom-illustration{
    -webkit-mask-image: url("assets/shared/desktop/illustration-united-kingdom.svg");
    mask-image: url("assets/shared/desktop/illustration-united-kingdom.svg");
}

.see-location-btn{
    width: 152px;
    height: 56px;
    border-radius: 8px;
    background: #E7816B;
    color: #FFF;
    font-size: 0.9375rem;
    text-decoration: none;
    font-family: "Jost", sans-serif;
    border: none;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 3rem;
}

/* ABOUT US */

/* LOCATIONS */

.locations-info{
    background: #FDF3F0;
    padding: 5rem 1.5rem;
    margin: -0.345rem 0 2rem;
}

.locations-info:nth-of-type(3){
    margin-bottom: 7.5rem;
}

.locations-heading{
    color: #E7816B;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 36px;
    margin: 0 0 1.5rem 0;
}

.location-info{
    color: #333136;
    text-align: center;
    font-size: 0.9375rem;
    line-height: 25px;
    margin: 0 0 1.5rem 0;
}

.location-info p{
    margin: 0;
}

.location-info span{
    font-weight: 700;
}

/* LOCATIONS */

/* CONTACT */

.contact{
    position: relative;
    overflow: hidden;
}

.contact-us-intro{
    padding: 4.5rem 1.5rem;
    position: relative;
    background: #E7816B;
    text-align: center;
    margin-bottom: 7.5rem;
}

.contact-us-bg-image-one,
.contact-us-bg-image-two{
    position: absolute;
    top: 0%;
    z-index: 0;
    width: 292px;
}

.contact-us-bg-image-one{
    left: -23.8%;
    transform: rotate(-150deg);
}

.contact-us-bg-image-two{
    right: -32%;
    transform: rotate(90deg);
}

.contact-us-intro h1,
.contact-us-intro p{
    margin: 0;
}

.contact-us-intro h1{
    margin-bottom: 1.5rem;
    color: #FFF;
    font-weight: 500;
    line-height: 36px;
}

.contact-us-intro p:nth-of-type(1){
    margin-bottom: 3rem;
    color: #FFF;
    font-size: 0.9375rem;
    line-height: 25px;
}

.contact-us-intro form{
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.contact-us-intro form input:focus,
.contact-us-intro form textarea:focus{
    outline: none;
}

.form-input{
    padding: 0 0 0.6875rem 0.8606rem;
}

.form-input,
.text-area-input{
    border: none;
    border-bottom: solid 1px #fff;
    background: #E7816B;
    color: #FFF;
    font-family: "Jost", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
}

form ::placeholder{
    color: #FFF;
    font-family: "Jost", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 26px;
    opacity: 0.5;
}

.text-area-input{
    padding: 0 0 4.6875rem 0.8606rem;
}

.contact-us-intro form button{
    margin-top: 0.9375rem;
    align-self: center;
    width: 152px;
    height: 56px;
    border-radius: 8px;
    background: #fff;
    border: none;
    color: #333136;
    font-family: "Jost", sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

/* CONTACT */

/* TABLET DESIGN */

@media (min-width: 768px) {

    /* HEADER */

    .header{
        padding: 4rem 2.5rem;
    }

    .desktop-header-navlinks{
        display: flex;
        gap: 2.625rem;
    }

    .desktop-header-navlinks a{
        text-decoration: none;
        color: #333136;
        font-size: 0.875rem;
        line-height: 14px;
        letter-spacing: 2px;
    }

    .menu-icon{
        display: none;
    }

    /* HEADER */

    /* FOOTER */

    footer{
        padding: 0 2.5rem 1rem;
        height: 423px;
    }

    .get-in-touch-container{
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .get-in-touch-container p:nth-of-type(1){
        width: 335px;
        font-size: 2.5rem;
        line-height: 40px;
    }

    .get-in-touch-container p:nth-of-type(2){
        width: 450px;
        font-size: 1rem;
        line-height: 26px;
    }

    .footer-navlinks-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    footer .header-logo{
        margin: 0 auto;
    }

    .footer-navlinks{
        display: flex;
        flex-direction: row;
    }

    .divider-one{
        display: none;
    }

    .divider-two{
        display: block;
        width: 690px;
        margin-bottom: 2rem;
    }

    .company-info-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        border: 1px solid red;
    }

    .company-info{
        align-items: flex-start;
    }

    .social-media-links{
        align-self: flex-end;
        border: 1px solid blue;
        margin-bottom: 0;
    }

    /* FOOTER */

    /* HOME */

    .home{
        padding: 0 2.5rem;
    }

    .home-intro{
        border-radius: 15px;
    }

    .home-oval{
        left: 75%;
    }

    .home-content{
        padding: 0 3.625rem;
    }

    .home-content h1{
        font-size: 3rem;
        line-height: 48px;
    }

    .home-content p{
        padding: 0 4rem;
        font-size: 1rem;
        line-height: 26px;
    }

    .web-design{
        background: url(assets/home/tablet/image-web-design.jpg);
    }
    
    .app-design{
        background: url(assets/home/tablet/image-app-design.jpg);
    }
    
    .graphic-design{
        background: url(assets/home/tablet/image-graphic-design.jpg);
    }

    .project{
        width: 100%;
        height: 200px;
        gap: 1.5rem;
    }

    .project p:nth-of-type(1){
        font-size: 2.5rem;
        line-height: 48px;
        letter-spacing: 2px;
    }

    .project-btn p:nth-of-type(1){
        font-size: 0.9375rem;
        line-height: normal;
        letter-spacing: 5px;
    }

    .illustration{
        flex-direction: row;
        gap: 3rem;
    }

    .illustration img{
        margin-bottom: 2rem;
    }

    .illustration-p-container{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 2rem;
    }

    .illustration-p-container p:nth-of-type(1),
    .illustration-p-container p:nth-of-type(2){
        margin: 0;
        padding: 0;
    }

    .illustration-p-container p:nth-of-type(1){
        margin-bottom: 1rem;
    }

    /* HOME */

}

/* TABLET DESIGN */
